.Todo {
  padding: 8px;
  border-radius: 6px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(230, 203, 22, 0.616);
  transition: all 400ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.completed {
  background-color: #639a8871;
}
